<% const yearsMap = {}; %>
<% page.posts.forEach(post => { %>
  <% const postYear = post.date.year(); %>
  <% const posts = yearsMap[postYear] || []; %>

  <% posts.push(post) %>
  <% yearsMap[postYear] = posts %>
<% }) %>


<% Object.keys(yearsMap).sort((a, b) => b - a).map(year => { %>
  <section class="container">
    <% const posts = yearsMap[year] %>
    <time class="fs-2"><%= year %></time>
    <%- partial('_partial/post-list', { posts }) %>
  </section>
<% }) %>