doctype html

html(lang='en')
  include _partial/head
 
  body
    #root
      include _partial/header
      !{body}
      include _partial/footer

      //- Scroll to top
      - if (theme.plugins.scrollToTop) {
        include _partial/top.html
      - }
    
    //- Script
    script const pluginsConfig = JSON.parse('!{JSON.stringify(theme.plugins)}')
    !{js('js/script.js')}
