doctype html

html(lang='en')
  include _partial/head
 
  body
    include _partial/header
    !{body}
    include _partial/footer

    //- Scroll to top
    - if (theme.plugins.scrollToTop) {
      include _partial/top.html
    - }
    
    //- Script
    script window.pluginsConfig = JSON.parse('!{JSON.stringify(theme.plugins)}')

    //- comments
    - if (theme.plugins.comments && theme.plugins.comments.enable) {
      script pluginsConfig.comments.enable = #{Boolean(page.comments)}
    - }
    
  !{js('/main.js')}