doctype html

html(lang='en')
  include _partial/head
 
  body
    #root
      include _partial/header
      !{body}

      //- Scroll to top
      - if (theme.plugins.scrollToTop) {
        include _partial/top.html
      - }
      
      //- disqus
      - if (theme.plugins.disqus && page.comments) {
        div#disqus_thread
      - }

      include _partial/footer
    
    //- Script
    script const pluginsConfig = JSON.parse('!{JSON.stringify(theme.plugins)}')
    !{js('js/script.js')}