@import header
@import footer
@import indexPage

ul
  list-style: none
  margin: 0
  padding: 0
  
a
  font-style: italic;
  letter-spacing: .05em;

body
  font-size:  14px

  #root
    width: 60%
    margin: auto
    display: flex;
    flex-direction: column
    justify-content: space-between