@import './_partial/variable'
@import './_partial/normalize.css'
@import './_partial/header'
@import './_partial/footer'

body
  font-size: fontSize
  height: 100%
  width: 61.8%
  min-width 600px
  margin: auto
  display: flex;
  flex-direction: column
  justify-content: space-between

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: linkColor
  font-style: italic;
  letter-spacing: .05rem

.hover-pointer
  cursor: pointer

.hover-fill
  &:hover
    fill: linkColor

.main
  margin-bottom: 1rem

#blog-title
  font-size: 1.2rem

.list
  .list-item:hover
    background: backgroundColor
  .list-item
    margin-bottom: .3rem
    padding: .3rem
    display: flex
    flex-direction: row
    justify-content: space-between

.post-date, .folder-count
  font-size: subSize
  color: subTextColor

#scroll-to-top-container
  display: none
  fill: subTextColor
  background-color: #fff
  position: fixed
  right: 3%
  bottom: 3%

.utterances
  max-width : none


@media screen and (max-width: 1080px)
  html, body
    font-size: fontSize * 1.2
  body
    width: 96%