<div
  id="cusdis_thread"
  style="margin-top: 5em;"
  data-host="https://cusdis.com"
  data-app-id="<%= theme.cusdisId%>"
  data-page-id="<%= page.abbrlink %>"
  data-page-url="<%= url_for(page.path) %>"
  data-page-title="<%= page.title %>"
></div>

<script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
