footer.footer-container

  section Copyright &copy;
    | #{new Date().getFullYear()}&nbsp;
    a(href= 'mailto:zowiegong@gmail.com') zowiegong
    | &nbsp;Powered by&nbsp;
    a(href= 'https://github.com/hexojs/hexo', rel= 'noopener noreferrer', target= '_blank') Hexo
    | &nbsp;Theme by&nbsp;
    a(href= 'https://github.com/zowiegong/hexo-theme-os', rel= 'noopener noreferrer', target= '_blank') OS.

    //- Edit source file on github
    - if (is_post()) {
      i &nbsp;&nbsp;
      a(href="https://github.com/zowiegong/hexo-blog/edit/master/source/#{page.source}", target="_blank") Edit source file
    - }
    