head
  - const title = page.title ? page.title + ' - ' + config.title : config.title + ' - ' + config.subtitle
  - const description = is_post() ? page.excerpt || page.title : config.description
  - const keywords = page.keywords && page.keywords.join(' ')

  title= title
  
  //- meta
  meta(name='charset', http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='description', content= description)
  meta(name='keywords', content= keywords)

  meta(name='subtitle', content= config.subtitle)
  meta(name='author', content= config.author)
  meta(name='language', content= config.language)
  meta(name='timezone', content= config.timezone)

  //- 移动端适配
  meta(name='viewport', content='width=device-width,initial-scale=1.0')

  //- manifest
  link(rel="manifest", href="/manifest.json")
  link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
  
  //- Css
  !{css('css/style.css')}
  - if (is_post() || page.type === 'post') {
    !{css('css/post.css')}
  - }