- if (config.per_page) {
  - const prevLink = page.prev_link
  - const nextLink = page.next_link

  section.pagination
    //- 上一页
    - if (page.prev) {
      a(href=url_for(prevLink)) &lt;
      &nbsp;
    - } else {
      span &lt;&nbsp;
    - }

    // 当前页/总页
    span #{page.current + '/' + page.total}

    //- 下一页
    - if (page.next) {
      &nbsp;
      a(href=url_for(nextLink)) &gt;
    - } else {
      span &nbsp;&gt;
    - }
- }