- if (config.per_page) {
  - const prevLink = page.prev_link
  - const nextLink = page.next_link
  
  section.pagination
    //- prev
    - if (page.prev) {
      a(href=url_for(prevLink)) &lt;
      &nbsp;
    - } else {
      span &lt;&nbsp;
    - }

    // current/total
    span #{page.current + '/' + page.total}
  
    //- next
    - if (page.next) {
      &nbsp;
      a(href=url_for(nextLink)) &gt;
    - } else {
      span &nbsp;&gt;
    - }
- }