<% if (posts && posts.length) { %>
  <ul class="container">
    <% posts.forEach(function (post) { %>
      <li class="d-flex align-items-center">
        <time class="flex-shrink-0 em-6 p-1"><%= date(post.date, "YYYY-MM-DD") %></time>
        <a class="flex-grow-1 text-reset p-1" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </li>
    <% }) %>
  </ul>
<% } %>