#header-container
  margin: .5rem 0

  #blog-title
    touch-action: none
    font-size: 1.2rem
    margin: 0 0 .5rem 0

  nav
    background-color: #f6f8fa;

    .menu-list
      padding: 0
      display: flex
      flex-direction: row
      justify-content: flex-end
    
    .menu-list-item
      padding: .5rem
      margin-right: .5rem

    .menu-list-count
      display: none

